---
layout: default
permalink: "/categories"
---
{% for category in site.categories %}
    <section class="category-posts">
        <div class="section-title">
            <h2 id="{{ category[0] }}">
                Category: <span class="text-capitalize">{{ category[0] }}</span>
            </h2>
        </div>
        <div class="row">
            {% for post in category[1] %}
                {% include posts/box.html %}
            {% endfor %}
        </div>
    </section>        
{% endfor %}
