---
layout: default
title: Authors
---

<div class="section-title">
    <h1>Authors</h1>
</div>

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="row">
        {% for book_author in site.book_authors %}
            {% if book_author.tags contains 'featured' %}
                {% include book_authors/featured_card.html %}
            {% endif %}
        {% endfor %}
    </div>
</section>

<!-- Posts Index
================================================== -->
<section class="recent-posts">
    <div class="section-title">
        <h2><span>All</span></h2>
    </div>
    <div class="row listrecent">
        {% for book_author in site.book_authors %}
            {% unless book_author.tags contains 'featured' %}
                {% include book_authors/featured_card.html %}
            {% endunless %}
        {% endfor %}
    </div>
</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
    <div class="pointerup">
        <i class="fa fa-caret-up"></i>
    </div>
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
</div>