---
layout: default
title: Home
---

<!-- Posts Index
================================================== -->
<section class="recent-posts">
    <div class="section-title">
        <h2><span>{{ page.title }}</span></h2>
    </div>
    <div class="row">
        {% for post in paginator.posts %}
            
            <div class="col-md-12 mb-2">
                {% assign poster = site.data.posters[post.poster] %}
                
                {% if post.description %}
                    {% assign short_description = post.description %}
                {% elsif post.content %}
                    {% assign short_description = post.content %}
                {% endif %}
                
                {% case post.type %}
                {% when 'book_summary' %}
                    {% include posts/card/book_summary.html %}
                {% when 'quote' %}
                    {% include posts/card/quote.html %}
                {% else %}
                    {% include posts/card/article.html %}
                {% endcase %}
            </div>
        {% endfor %}
    </div>
</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
    <div class="pointerup">
        <i class="fa fa-caret-up"></i>
    </div>
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
</div>

