---
layout: default
title: Home
allowed_image_extnames: [.jpg, .jpeg, .png, .webp, .gif]
pagination: 
  enabled: true
  collection: quotes
  permalink: /:num/ 
---

<div class="section-title">
    <h2><span>Home</span></h2>
</div>

<section class="featured-posts">
    <div class="row">
        {% for quote in paginator.posts %}
            {% for book in site.books %}
                {% if book.title == quote.book %}
                    {% include quotes/row.html book=book %}
                {% endif %}
            {% endfor %}                            
        {% endfor %}        
    </div>
</section>

<div class="bottompagination">
    <div class="pointerup">
        <i class="fa fa-caret-up"></i>
    </div>
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
</div>