---
layout: default
title: Home
---

<!-- Posts Index
================================================== -->
<section class="recent-posts">
    <div class="section-title">
        <h2><span>{{ page.title }}</span></h2>
    </div>
    <div class="row listrecent">
        {% for post in paginator.posts %}
            <div class="col-md-12 mb-30px">                
                {% if post.type == 'quote' %}
                    {% include posts/card/quote.html %}
                {% elsif post.type == 'book_summary' %}
                    {% include posts/card/book_summary.html %}
                {% elsif post.type == 'video' %}
                    {% include posts/card/video.html %}
                {% elsif post.type == 'gallery' %}
                    {% include posts/card/gallery.html %}
                {% else %}
                    {% include posts/card/article.html %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
    <div class="pointerup">
        <i class="fa fa-caret-up"></i>
    </div>
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
</div>

