<!-- begin post -->
{% assign book = site.books[post.book] %}

<div class="col-lg-3 col-md-6 card-group">
    <div class="card h-100 py-1 px-1">
        <div class="maxthumb">
            <a href="{{ site.baseurl }}{{ book.url }}">
                <img class="rounded mx-auto d-block" style="height: 100%; width: auto;" src="{{ book.image }}" alt="{{ book.title }}">   
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title text-dark text-capitalize text-decoration-none">{{ book.title }}</h5>
            <p class="card-text">
                {{ book.tagline }}
                <h6>by {{ book.authors | join: ", " }}</h6>
                {% if book.rating %}
                    <div class="mb-2 mt-2 font-weight-normal">
                        {% assign rating = book.rating %}
                        {% include star_rating.html rating=rating %}
                    </div>
                {% endif %}
            </p>                    
            <div class="clearfix"></div>                                            
        </div>        
    </div>
</div>
<!-- end post -->