{% assign author = site.data.posters[page.poster] %}

<div class="row mt-4">       
    <div class="col-xs-12 col-md-12 text-md-left">
        <div class="lead">Author:
            {% if author.avatar_file %}
            <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar_file }}" alt="{{ author.display_name }}">
            {% elsif author.avatar_url %}
            <img class="author-thumb" src="{{ author.avatar_url }}" alt="{{ author.display_name }}">
            {% endif %}
            {{ author.display_name }}
        </div>
        <div class="lead">Date:
            {{ page.date | date_to_string }}
        </div>
           
        {% if page.description %}
            <div class="lead">Description:
                {{ page.description }}
            </div>
        {% endif %}
        
        {% if page.tags != null %}
            <div class="lead">
                    Tags: 
                    {% assign sorted_tags = page.tags | sort %}
                    {% for tag in sorted_tags %}
                    <span class="badge bg-light text-dark rounded-pill">
                        <a class="smoothscroll" href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}" target="_blank">{{ tag }}</a>
                    </span>
                    {% endfor %}
            </div>
        {% endif %}

        {% if page.source_url %}
            <a class="card-link" href="{{ page.source_url }}" target="_blank">Source</a>                            
        {% endif %}
    </div>    
</div>