{% assign poster = site.data.posters[page.poster] %}

<!-- Post Featured Image -->    
<div class="row mb-4">   
    <div class="col-md-1 pl-0">
        {% include share.html %}
    </div>
    <div class="col-xs-11 col-md-11">
        {% if page.image %}
        <img class="img-fluid" src="{{ page.image }}">
        {% endif %}
    </div>    
</div>

<div class="row">
    <div class="col-md-8 col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">About this Book</h5>
                <p class="card-text"></p>
                    <dt>Author(s)</dt>
                    <dd>    
                        {% for author in page.authors %}
                            {% if site.authors contains author%}
                                <div><a href="{{site_author.url}}">{{ site_author.name }}</a></div>
                            {% else %}
                                <div>{{ author }}</div>
                            {% endif %}                                                    
                        {% endfor %}
                    </dd>

                    {% if page.rating %}
                    <dt>Ratings</dt>
                    <dd>{{ page.rating }}</dd>
                    {% endif %}

                    {% if page.ratings_count %}
                    <dt>Ratings Count</dt>
                    <dd>{{ page.ratings_count }}</dd>
                    {% endif %}

                    {% if page.description %}
                    <dt>Description</dt>         
                    <dd>{{ page.description }}</dd>
                    {% endif %}
                </p>
            </div>
        </div>                    
    </div>
    
    <div class="col-xs-12 col-md-4 text-md-left">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">About this Summary</h5>
                <p class="card-text">
                    <dt>Date</dt>
                    <dd>{{ page.date | date_to_string}}</dd>
                    <dt>Poster</dt>
                    <dd>
                        {% if author.avatar_file %}
                        <img class="author-thumb" src="{{site.baseurl}}/{{ poster.avatar_file }}">
                        {% elsif poster.avatar_url %}
                        <img class="author-thumb" src="{{ poster.avatar_url }}">
                        {% endif %}
                        {{ poster.display_name }}
                    </dd>
                    <dt>Tags</dt>
                    <dd>
                        {% assign sorted_tags = page.tags | sort %}
                        {% for tag in sorted_tags %}
                        <span class="badge bg-light text-dark rounded-pill">
                            <a class="smoothscroll" href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}" target="_blank">{{ tag }}</a>
                        </span>                    
                        {% endfor %}
                    </dd>                    
                </p>
                <a class="card-link" href="{{ page.source_url }}" target="_blank">Source</a>                            
                <div class="mt-4">
                    <a href="{{ page.amazon_url }}" target="_blank">
                        <button type="button" class="btn btn-danger">Buy on Amazon</button>                        
                    </a>
                </div>
            </div>
        </div>
    </div>    
</div>