{% for book in site.books %}
    {% if book.title == page.book %}
        {% assign sorted_categories = book.categories | compact | sort %}
        {% assign sorted_tags = book.tags | compact | sort %}

        <div class="card my-4">
            <div class="row g-0">
                <div class="col-md-3">
                    <a href="{{ site.baseurl }}{{ book.url }}">
                        <img class="img-fluid" src="{{ book.image }}">                           
                    </a>
                </div>
                
                <div class="col-md-9">
                    <div class="card-header">                        
                        <div class="fs-6">About this Book</div>                     
                    </div>
                
                    <div class="card-body h-50 my-4">
                        <h4 class="card-title mb-4">
                            <a class="text-dark text-capitalize" href="{{ site.baseurl }}{{ book.url }}">{{ book.title }}</a>                            
                        </h4>
                        <h6>by {{ book.authors | join: ', ' }}</h6>
                                                
                        <h6>Categories:
                            {% for category in sorted_categories %}
                                <a class="text-decoration-none" href="{{site.baseurl}}/categories#{{ category | replace: " ","-" }}">
                                    <span class="badge rounded-pill bg-danger text-capitalize">
                                        {{ category }}
                                    </span>
                                </a>
                            {% endfor %}
                        </h5>
                    
                        <h6>Tags:
                            {% for tag in sorted_tags %}
                            <a class="text-decoration-none" href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}">
                                <span class="badge rounded-pill bg-secondary text-capitalize">
                                    {{ tag }}
                                </span>
                            </a>
                            {% endfor %}          
                        </h6>
                        <p class="card-text">{{ book.description | strip_html | truncatewords: 60 }}</p>
                    </div>                                    
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
