{% assign poster = site.data.posters[page.poster] %}

<div class="row">
    <div class="col-md-8 col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">About this Book</h5>
                <p class="card-text"></p>
                    <dt>Author(s)</dt>
                    <dd>    
                        {% for author in page.authors %}
                            {% if site.authors contains author%}
                                <div><a href="{{site_author.url}}">{{ site_author.name }}</a></div>
                            {% else %}
                                <div>{{ author }}</div>
                            {% endif %}                                                    
                        {% endfor %}
                    </dd>

                    {% if page.rating %}
                    <dt>Ratings</dt>
                    <dd>{{ page.rating }}</dd>
                    {% endif %}

                    {% if page.ratings_count %}
                    <dt>Ratings Count</dt>
                    <dd>{{ page.ratings_count }}</dd>
                    {% endif %}

                    {% if page.description %}
                    <dt>Description</dt>         
                    <dd>{{ page.description }}</dd>
                    {% endif %}
                </p>
            </div>
        </div>                    
    </div>
</div>