{% assign author = site.data.authors[page.author] %}
{% assign book_author = site.authors[page.book_author] %}

<!-- Post Featured Image -->    
<div class="row mb-4">   
    <div class="col-md-1 pl-0">
        {% include share.html %}
    </div>
    <div class="col-xs-11 col-md-11">
        {% if page.image %}
        <img class="img-fluid" src="{{ page.image }}">
        {% endif %}
    </div>    
</div>
<!-- End Featured Image -->

<div class="row">
    <div class="col-md-8 col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">About this Book</h5>
                <p class="card-text"></p>
                    <dt>Author(s)</dt>
                    <dd>                                    
                        {{ page.book_authors | join: ", " }}                                
                    </dd>                                
                    <dt>Ratings</dt>
                    <dd>4.5</dd>          

                    {% if page.description %}
                    <dt>Description</dt>         
                    <dd>{{ page.description }}</dd>
                    {% endif %}
                </p>
            </div>
        </div>                    
    </div>
    
    <div class="col-xs-12 col-md-4 text-md-left">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">About this Summary</h5>
                <p class="card-text">
                    <dt>Date</dt>
                    <dd>{{ page.date | date_to_string}}</dd>
                    <dt>Author</dt>
                    <dd>
                        {% if author.avatar_file %}
                        <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar_file }}" alt="{{ author.display_name }}">
                        {% elsif author.avatar_url %}
                        <img class="author-thumb" src="{{ author.avatar_url }}" alt="{{ author.display_name }}">
                        {% endif %}
                        {{ author.display_name }}
                    </dd>
                    <dt>Tags</dt>
                    <dd>
                        {% assign sorted_tags = page.tags | sort %}
                        {% for tag in sorted_tags %}
                        <span class="badge bg-light text-dark rounded-pill">
                            <a class="smoothscroll" href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}" target="_blank">{{ tag }}</a>
                        </span>                    
                        {% endfor %}
                    </dd>                    
                </p>
                <a class="card-link" href="{{ page.source_url }}" target="_blank">Source</a>                            
                <div class="mt-4">
                    <a href="{{ page.amazon_url }}" target="_blank">
                        <button type="button" class="btn btn-danger">Buy on Amazon</button>                        
                    </a>
                </div>
            </div>
        </div>
    </div>    
</div>