{% assign lg_left = post.card_width | default: 6 %}
{% assign lg_right = 12 | minus: lg_left %}

<div class="card mb-2">
    <div class="row g-0">
        <div class="col-lg-{{ lg_left }}">
            <div class="wrapthumbnail">
                {% if image %}
                    <img class="img-fluid" src="{{ image }}">
                {% endif %}                                    
            </div>            
        </div>
        
        <div class="col-lg-{{ lg_right }}">
            <div class="card-header">
                <span class="badge rounded-pill bg-primary text-capitalize">{{ post.type | replace: "_", " " }}</span>                        

                {% assign sorted_categories = post.categories | compact | sort %}
                {% for category in sorted_categories %}
                <a class="smoothscroll" href="{{site.baseurl}}/categories#{{ category | replace: " ","-" }}" target="_blank">
                    <span class="badge rounded-pill bg-danger text-capitalize">{{ category }}</span>
                </a>
                {% endfor %}

                {% assign sorted_tags = post.tags | compact | sort %}
                {% for tag in sorted_tags %}
                <a class="smoothscroll" href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}" target="_blank">
                    <span class="badge rounded-pill bg-secondary text-capitalize">{{ tag }}</span>
                </a>
                {% endfor %}

                {% if post.tags contains 'featured' %}
                    <div class="float-end">
                        <svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25">
                            <path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path>
                        </svg>
                    </div>
                {% endif %}
            </div>

            <div class="card-body h-50 mb-4">
                <h5 class="card-title">
                    <a class="text-capitalize text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>                            
                </h5>
                <p class="card-text">{{ short_description | strip_html | truncatewords: 30 }}</p>
                <div class="clearfix"></div>
            </div>
            
            <div class="card-footer b-0 bg-white mt-auto">
                <div class="wrapfooter">
                    <span class="meta-footer-thumb">
                        {% if poster.avatar_file %}
                        <img class="author-thumb" src="{{site.baseurl}}/{{ poster.avatar_file }}">
                        {% elsif poster.avatar_url %}
                        <img class="author-thumb" src="{{ poster.avatar_url }}">
                        {% endif %}
                    </span>
                    <span class="author-meta">
                        <span class="post-name text-dark">{{ poster.display_name }}</span>
                    </span>

                    <span class="post-date">{{ post.date | date_to_string }}</span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>