<div class="row">   
    <div class="col-xs-12 col-md-4 text-md-left">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">About this Post</h5>
                <p class="card-text">
                    <dt>Type</dt>
                    <dd>{{ page.type }}</dd>
                    </dd>
                    <dt>Tags</dt>
                    <dd>
                        {% assign sorted_tags = page.tags | sort %}
                        {% for tag in sorted_tags %}
                        <span class="badge bg-light text-dark rounded-pill">
                            <a class="smoothscroll" href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}" target="_blank">{{ tag }}</a>
                        </span>                    
                        {% endfor %}
                    </dd>
                    <dt>Summary Author</dt>
                    <dd>
                        {% if summary_author.avatar %}
                        <img class="author-thumb" src="{{ summary_author.avatar }}" alt="{{ summary_author.display_name }}">
                        {% endif %}
                        {{ summary_author.display_name }}
                    </dd>
                </p>
                <a class="card-link" href="{{ page.source_url }}" target="_blank">Source</a>                            
            </div>
        </div>
    </div>    
</div>