{% assign author = site.data.authors[page.author] %}

<!-- Post Featured Image -->    
<div class="row">   
    <div class="col-xs-12 col-md-12 text-md-left">
        {% if page.image %}
            {% if site.lazyimages == "enabled" %}
            <img class="featured-image img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% else %}
            <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% endif %}
        {% endif %}
    </div>
</div>
<!-- End Featured Image -->

<div class="row">
    <div class="col-xs-12 col-md-12 text-md-left">
        <div class="lead">Author:
            {% if author.avatar_file %}
            <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar_file }}" alt="{{ author.display_name }}">
            {% elsif author.avatar_url %}
            <img class="author-thumb" src="{{ author.avatar_url }}" alt="{{ author.display_name }}">
            {% endif %}
            {{ author.display_name }}
        </div>
        <div class="lead">Date:
            {{ page.date | date: "%Y/%m/%d"}}
        </div>
        {% if page.tags != null %}
        <div class="lead">Tags:            
                {% assign sorted_tags = page.tags | sort %}
                {% for tag in sorted_tags %}
                <span class="badge bg-light text-dark rounded-pill">
                    <a class="smoothscroll" href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}" target="_blank">{{ tag }}</a>
                </span>                    
                {% endfor %}            
        </div>
        {% endif %}
        {% if page.source_url %}
        <a class="card-link" href="{{ page.source_url }}" target="_blank">Source</a>                            
        {% endif %}                
    </div>    
</div>