<div class="card mb-4">
    <div class="card-header">
        <div class="float-start">
            <h5>Chapter {{ quote.chapter }}</h5>
        </div>
        <div class="float-end">
            {% assign sorted_tags = quote.tags | compact | sort %}        
            {% for tag in sorted_tags %}
                {% unless tag == 'featured' %}
                    <a class="smoothscroll" href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}" target="_blank">
                        <span class="badge rounded-pill bg-secondary text-capitalize">{{ tag }}</span>
                    </a>
                {% endunless%}
            {% endfor %}

            {% if quote.tags contains 'featured' %}        
                <svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25">
                    <path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path>
                </svg>
            {% endif %} 
        </div>        
    </div>

    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{ quote.content | strip_html }}</p>
            <div class="float-end">
                <footer class="blockquote-footer"><cite title="{{ quote.author }}">{{ quote.author }}</cite></footer>
            </div>      
        </blockquote>        
    </div>    
</div>