---
layout: default
---
<div class="section-title">
    <h2>
        <span class="text-capitalize">{{ page.layout | capitalize }}: {{ page.title | capitalize }}</span>
    </h2>
</div>

<section class="posts">
    <div class="section-title">
        <h2>
            <span class="text-capitalize">Summaries</span>
        </h2>
    </div>
    <div class="row listrecent">
        {% for post in site.posts %}
            {% if post.book and post.book == page.title %}
                {% include posts/row.html post=post %}                
            {% endif %}
        {% endfor %}
    </div>
</section>

<section class="quotes">
    <div class="section-title">
        <h2>
            <span class="text-capitalize">Quotes</span>
        </h2>
    </div>
    
    {% for quote in site.quotes %}
        {% if quote.book and quote.book == page.title %}
            {% include quotes/row.html short_description=short_description%}            
        {% endif %}
    {% endfor %}
</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
    <div class="pointerup">
        <i class="fa fa-caret-up"></i>
    </div>
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
</div>