<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}

{% capture layout %}
	{% if page.layout %}layout-{{ page.layout }}
	{% endif %}
{% endcapture %}

<body class="{{layout}}">	

{%- include navbar.html -%}

<div class="site-content">
	<div class="container">
		{%- include site_title.html -%}		
		<div class="main-content">
			{{ content }}
		</div>
		{%- include email_subscription_form.html -%}    
	</div>

	{% comment %}{%- include category_carousel.html -%}{% endcomment %}
	{%- include footer.html -%}
</div>
</body>
</html>
