---
layout: default
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Post Share -->
        <div class="col-md-1 pl-0">
            {% include share.html %}
        </div>

        <!-- Post -->        
        <div class="col-md-10 flex-first flex-md-unordered">
            {% assign sorted_categories = page.categories | sort %}
            {% for category in sorted_categories %}
            <span class="badge bg-light text-dark">
                <a class="smoothscroll" href="{{site.baseurl}}/categories#{{ category | replace: " ","-" }}">{{ category }}</a>
            </span>
            {% endfor %}

            <div class="mainheading">
                <h1 class="posttitle text-capitalize">{{ page.title }}</h1>
                <div class="lead">{{ page.date | date: "%Y/%m/%d"}}</div>
            </div>            

            {% if page.layout == 'book_summary' %}
                {% include posts/book_summary_header.html %}
            {% elsif page.layout == 'video' %}
                {% include posts/video_header.html %}
            {% else %}
                {% include posts/post_header.html %}
            {% endif %}            
            <hr>

            <!-- Adsense if enabled from _config.yml (change your pub id and slot) -->
            {% if site.adsense == "enabled" %}
                {% include adsense-under-header.html %}
            {% endif %}
            <!-- End Adsense -->            
            
            <!-- Post Content -->
            <div class="my-4">
                {{ content }}        
            </div>
                        
            <hr>
            <!-- Prev/Next -->
            <div class="row PageNavigation d-flex justify-content-between font-weight-bold">
                {% if page.previous.url %}
                    <a class="prev d-block col-md-6" href="{{ site.baseurl }}/{{page.previous.url}}"> &laquo; {{page.previous.title | truncatewords:8}}</a>
                {% endif %}
                {% if page.next.url %}
                    <a class="next d-block col-md-6 text-lg-right" href="{{ site.baseurl }}/{{page.next.url}}">{{page.next.title | truncatewords:8 }} &raquo; </a>
                {% endif %}
                <div class="clearfix"></div>
            </div>
           
        </div>
        <!-- End Post -->

    </div>
</div>
<!-- End Article
================================================== -->

<!-- Begin Comments
================================================== -->
{% if page.comments != false %}
    <div class="container">
        <div id="comments" class="row justify-content-center mb-5">
            <div class="col-md-8">
                {% include disqus.html %}
            </div>
        </div>
    </div>
{% endif %}
<!--End Comments
================================================== -->

<!-- Review with LD-JSON, adapt it for your needs if you like, but make sure you test the generated HTML source code first: 
https://search.google.com/structured-data/testing-tool/u/0/
================================================== -->
{% if page.rating %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Review",
  "itemReviewed": {
    "@type": "Thing",
    "name": "{{ page.title }}"
  },
  "author": {
    "@type": "Person",
    "name": "{{ author.display_name }}"
  },
  "datePublished": "{{ page.date | date:"%Y-%m-%d" }}",
  "reviewRating": {
    "@type": "Rating",
    "ratingValue": "{{ page.rating }}",
    "bestRating": "5"
  }
}
</script>
{% endif %}