<div class="card {{ post.text_type }} mb-4">
    <div class="row g-0">
        <div class="col-md-9">
            <div class="h-100">
                <div class="wrapthumbnail">
                    <img class="img-fluid" src="{{ post.image }}">                           
                    <div class="card-img-overlay d-flex align-items-center">
                        <div class="w-75 text-center text-capitalize text-white">
                            {{ post.content }}                
                            <br>
                            <h3>- {{ post.author | replace: '_', ' ' | capitalize }}</h3>
                        </div>                
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card-header">
                <span class="badge rounded-pill bg-primary text-capitalize">{{ post.type | replace: "_", " " }}</span>                        

                {% assign sorted_categories = post.categories | compact | sort %}
                {% for category in sorted_categories %}
                <a class="smoothscroll" href="{{site.baseurl}}/categories#{{ category | replace: " ","-" }}">
                    <span class="badge rounded-pill bg-danger text-capitalize">{{ category }}</span>
                </a>
                {% endfor %}                

                {% assign sorted_tags = post.tags | sort %}
                {% for tag in sorted_tags %}
                <a class="smoothscroll" href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}" target="_blank">
                    <span class="badge rounded-pill bg-secondary text-capitalize">{{ tag }}</span>
                </a>
                {% endfor %}

                {% if post.tags contains 'featured' %}
                    <div class="float-end">
                        <svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25">
                            <path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path>
                        </svg>
                    </div>                    
                {% endif %}        
            </div>
            
            <div class="card-body h-50 my-4">
                <p class="card-title mb-4 text-dark text-capitalize">{{ post.content | strip_html }}</p>
                <p class="card-title mb-4 text-dark text-capitalize float-end">- {{ post.author }}</p>
                <div class="clearfix"></div>                    
            </div>            

            <div class="card-footer b-0 bg-white mt-auto">
                <div class="wrapfooter">
                    <span class="meta-footer-thumb">
                        {% if poster.avatar_file %}
                        <img class="author-thumb" src="{{site.baseurl}}/{{ poster.avatar_file }}">
                        {% elsif poster.avatar_url %}
                        <img class="author-thumb" src="{{ poster.avatar_url }}">
                        {% endif %}
                    </span>
                    <span class="author-meta">
                        <span class="post-name text-dark">{{ poster.display_name }}</span>
                    </span>
                    <br/>
                    
                    <span class="post-date">{{ post.date | date_to_string }}</span>                    
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>